---
layout: default
---

<!DOCTYPE html>
<html>
  <head>
    <!-- head content -->
  </head>
  <body>
    <!-- site header -->
    
    <main>
      {{% include blog.html %}}
      
        <source media="(prefers-color-scheme: dark)" srcset="https://blog.codeup.com/hs-fs/hubfs/OfficialCodeupLogoSmall.png?width=250&name=OfficialCodeupLogoSmall.png">
        <source srcset="https://blog.codeup.com/hs-fs/hubfs/OfficialCodeupLogoSmall.png?width=250&name=OfficialCodeupLogoSmall.png">
        <img alt="Codeup banner" src="https://blog.codeup.com/hs-fs/hubfs/OfficialCodeupLogoSmall.png?width=250&name=OfficialCodeupLogoSmall.png">
      

      <h2>SOMERVILLE COHORT</h2>
    </main>
    
    <!-- site footer -->
  </body>
</html>
